{% extends 'base.html.twig '%}

{% block body %}
<div class="container">
    <div class="row" style="border:1px solid black">
        <div class="col" style="border:1px solid red">
         
            {% for product in products %}
                {{ product.name }} // {{ product.price }} / {{ product.slug }}<br>
            {% endfor %}

        </div>

    
    </div>

</div>



{% endblock %}
